@media only screen and (max-width : 767px) {

    article{
        padding: 0;
    }

    section{
        margin-left: 0;
    }

    #sidebar{
        position: inherit;
    }

    #sidebar > .row{
        text-align: center;
    }

    #wrapper, aside, section {
        height: auto;
    }

    header {
        .column {
            text-align: center;
        }
    }

    .column {
        //padding: 15px 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .column > .form-control{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .login-panel, .error-panel{
        //width: 80%;
        margin: 9% auto 0 auto !important;
    }

    .no-gutter[class^="col-md-"] {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .panel, .panel.plain.panel-default{
        border: none !important;
        border-top: none !important;
        border-radius: 0 !important;
        margin: 10px 0;
    }

    .item-up{
        zoom: 1.3;
    }

    #android-download{
        display: none;
    }
}