@media only screen and (min-width : 768px) {

    .no-gutter[class^="col-md-"] {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .column > .form-control{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #sidebar {
        width: 170px;
    }
}