@media only screen and (max-width : 480px) {

    // region test
    .toolButtons > div > div.no-selection, .floating-options{
        display: none !important;
    }

    .toolButtons{
        width: auto !important;
        display: inherit !important;
        position: initial !important;
    }

    .toolButtons > div{
        display: inline-block;
    }

    .toolButtons > div > .btn{
        border-radius: 3px !important;
        width: auto !important;
        height: auto !important;
        line-height: 1.42857143 !important;
        padding: 5px 12px !important;
        box-shadow: none !important;
    }

    .toolButtons > div > .mdi:after{
        content: " " attr(data-tite);
        font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
    }

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {

        display: block;
    }

    table td:nth-child(1){
        text-align: start;
    }

    table td {
        width: 100% !important;
        display: block;
        text-align: right;
        font-size: 13px;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    // endregion

    article{
        padding: 0;
    }

    section{
        margin-left: 0;
    }

    #sidebar{
        position: inherit;
    }

    #sidebar > .row{
        text-align: center;
    }

    #wrapper, aside, section {
        height: auto;
    }

    header {
        .column {
            text-align: center;
        }
    }

    .column {
        //padding: 15px 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .column > .form-control{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .col-xs-12 > button{
        width: 100%;
    }

    .no-gutter[class^="col-"] {
        padding: 0;
    }

    /* login panel */
    .login-panel, .error-panel{
        width: auto;
        margin: 9% auto 0 auto !important;
    }

    .panel, .panel.plain.panel-default{
        border: none !important;
        border-top: none !important;
        border-radius: 0 !important;
        margin: 10px 0;
    }

    .item-up{
        zoom: 1.3;
    }

    .btn {
        min-width: 60px;
        height: 42px;
        line-height: 2.428571 !important;
    }

    .table-striped > tbody td:nth-child(odd) {
        background-color: #f9f9f9;
    }

    .last-seen{
        float: none !important;
    }

    #android-download{
        display: none;
    }
}