@media print, screen {
    body{
        background-color: #0000AA;
        font-size: 12pt;
        font-family:'Times New Roman',Times,serif;
    }

    @page { margin: 2cm }

    .text-center{
        text-align: center;
    }

    .text-right{
        text-align: right;
    }

    dt{
        padding: 10px;
        font-weight: bold;
        border-left: solid 1px #e3e3e3;
    }

    dd{
        font-weight: 300;
    }

    li{
        border-top: solid 1px #E5E5E5;
        padding-top: 5px;
    }

    li > p{
        padding-left: 20px;
    }

}

@media screen {
    body{
        width: 7in;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    dt{
        padding: 10px;
        font-weight: bold;
        border-left: solid 1px #e3e3e3;
    }

    dd{
        font-weight: 300;
    }
}