<template>
    <div class="row token-container">
        <div class="col-md-12">
            <div class="row">
                <div class="input-header pull-left" title="click to edit"><input class="form-control hidden-form-control" minlength="4" data-token-name="{{ token.name }}" value="{{ token.name }}" disabled/><button class="cancel-edit btn btn-link hide">cancel</button><button class="save-edit btn btn-link hide">save</button></div>
                <button class="delete-button btn btn-danger btn-sm pull-right">{{ Lang::get('ui.delete') }}</button>
            </div>
        </div>
        <div class="col-md-12 m10">
            <div class="col-md-5 mb10">
                <div class="row item-device">
                    <div v-if="token.udid != null" class="row item-up active">
                        <div class="col-md-10 field">{{ token.udid }}</div>
                        <div class="col-md-2 no-gutter">
                            <div class="row text-center">
                                <span class="item-icon" title="{{ Lang::get('ui.delete') }}"><i class="mdi mdi-delete"></i></span>
                                <span class="item-icon clipboard-button" data-clipboard-message="{{ Lang::get('ui.toast_clipboard_message') }}" data-clipboard-text="{{ $token->udid }}" title="{{ Lang::get('ui.copy_to_clipboard') }}"><i class="mdi mdi-clipboard-check"></i></span>
                            </div>
                        </div>
                    </div>
                    <div v-if="token.udid != null" class="row item-down active">
                        {{ Lang::get('token.device.id.tag') }}
                    </div>
                    <div v-if="token.udid == null" class="row item-up">
                        <div class="col-md-12 field">{{ Lang::get('token.device.id.empty.tag') }}</div>
                    </div>
                    <div v-if="token.udid == null" class="row item-down">
                        {{ Lang::get('token.device.id.tag') }}
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb10">
                <div class="row item-token">
                    <div class="row item-up">
                        <div class="col-md-9 field">{{ token.token }}</div>
                        <div class="col-md-3 no-gutter">
                            <div class="row text-center">
                                <span class="item-icon" title="{{ Lang::get('ui.reset') }}"><i class="mdi mdi-reload"></i></span>
                                <span class="item-icon" title="{{ Lang::get('ui.qrcode') }}" data-qr-token="{{ $token->token }}"><i class="mdi mdi-qrcode"></i></span>
                                <span class="item-icon clipboard-button" data-clipboard-message="{{ Lang::get('ui.toast_clipboard_message') }}" data-clipboard-text="{{ $token->token }}" title="{{ Lang::get('ui.copy_to_clipboard') }}"><i class="mdi mdi-clipboard-check"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row item-down">
                        {{ Lang::get('token.device.token.tag') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {
            console.log('Component "device" ready.');
        },
        props: [ 'token' ]
    }
</script>